*{box-sizing: border-box;}
body{
  padding: 0;
  margin: 0;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #F7F6F4;
}

.err{
  text-align: center;
  color: firebrick;
  font-size: 24px;
  margin-top: 2px;
}

.imageList{
  margin: 5px;
}
.imageList img{
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.imageContainer{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 1500px
}

.formContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer input{
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.formContainer h2{
  margin-top: 20px;
  margin-bottom: 0;
}

.btn{
  cursor: pointer;
  padding: 10px 20px;
  width: 200px;
  margin-top: 0px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  background-color: #9CADCE;
  color: #fff;
  margin-bottom: 10px;
}
.btn:hover{
  background-color: rgba(156, 173, 206, 0.692);
}

.buttonContainer{
  display: flex;
  justify-content: space-between;
}
.topBTN{
  padding: 10px 20px;
  width: 150px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  background-color: #F4989C;
  color: #fff;
  cursor: pointer;
}
.loadBTN{
  padding: 10px 20px;
  width: 150px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 22px;
  background-color: #F4989C;
  color: #fff;
  cursor: pointer;
}

.loadBTN:focus, .topBTN:focus, .btn:focus{
  outline: 0;
}
.loadBTN:hover, .topBTN:hover{
  background-color: rgba(244, 152, 157, 0.678);
}

@media(max-width: 1400px){
  .imageContainer{
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media(max-width: 1100px){
  .imageContainer{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}

@media(max-width: 768px){
  .modalCSS, .modal-content{
    display: none;
  }
}

@media(max-width: 750px){
  .imageContainer{
    width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formContainer h2{
  font-size: 18px;
}
}
@media(max-width: 500px){
  .imageContainer{
    width: 100%;
  }
  .buttonContainer{
    margin: 5px;
  }
}
/* error if search returns no results. Try to have more images then 12 loaded but some hidden with a button to show the rest */


.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content{
  background: #e8e8e8;
  display: flex;
  flex-direction: column;
  
  text-align: center;
  margin: 10% auto;
  position: relative;
  width: 900px;
  height: 700px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2), 0 7px 20px rgba(0, 0, 0, 0.17);
  animation-name: modalOpen;
  animation-duration: 1s;
}

@keyframes modalOpen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content img{
  margin: auto;
  width: 800px;
  height: 600px;
}